<link rel="stylesheet" href="css\login.css" />
<div id="section" class="h-100">
  <section class="contact-wrap">
    <form action="" class="contact-form"> 
      <h3 id="title">Login</h3>
      <div class="col-sm-6">
        <div class="input-block">
          <label for="">Email or Username</label>
          <input type="Email" class="form-control" id="in-email" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-block">
          <label for="">Password</label>
          <input type="password" class="form-control" id="in-password"/>
        </div>
      <div class="col-sm-12">
        <button class="square-button" id="btn-send1">Send</button>
      </div>
      <div class="col-sm-12">
        <div class="input-block" id="sign-link">
          <link class="form__text" >
          <a class="form__link" href="/sign-up" id="linkCreateAccount">Don't have an account? Create new account</a>
        </link>
        </div>
      </div>
    </form>
  </section>
</div>

  <script type="text/javascript" src="js/login.js"></script>

