

  <div class="container">
    <button id="open">Login</button>
  </div>

  <div class="model-container">
    <div class="model">
      <h3 class="card-title">Login</h3>

      
       <div class="data">  
       <div id="input1">
          <label  > User name </label>
          <span class="input-container" id="email" data-error="sry,invalid input" >
          <input type="email" class="input" value="123" placeholder="name@example.com">
        </span>
      </div>
        <div id="input2">
          <label class="password"> Password  </label>
          <span class="input-container" id="pass" data-error="sry,invalid password">
          <input type="password" class="input" placeholder="*********">
        </span>
      </div>
        </div>  
        
   
         <button type="button" class="bot" href="#">Continue</button>
       
          <div class="link">
             <link class="form__text" id="createA">
               <a class="form__link" href="/sign-up" id="linkCreateAccount">Don't have an account? Create new account</a>
             </link>
          </div>
          <button type="button" id="close" class="close" href="#">x</button>
          
    </div>
  </div>
  <script type="text/javascript" src="js/login.js"></script>

