

  <div class="container">
    <button id="open">Sign in</button>
  </div>

  <div class="model-container">
    <div class="model">
      <h3 class="card-title">Sign-in</h3>

      
       <div class="data"> 
        
        <div id="userName">
          <label  > User name </label>
          <input type="email"   placeholder="123john123">
        </div>
        <div id="Email">
          <label  > Email </label>
          <span id="Einput"></span>
          <input type="email"   placeholder="johnjohnson@example.com">
        </span>
        </div>
        <div id="password">
          <label class="password"> Password</label>
          <span id="Pinput">
          <input type="password" placeholder="*********">
        </span>
        </div>
        <div id="fname">
          <label> First name</label>
          <input type="text" placeholder="john">
        </div>
        <div id="lname">
          <label> Last name</label>
          <input type="text" placeholder="johnson">
        </div>
        
        <div id="gender">
          <label> Gender</label>
          <span class="gender-select">
            <select class="g-s-b" >
              <option value="">Male</option>
              <option value="">Female</option>
            </select>
            <span class="arrow"></span>
          </span>
        </div>
        
          <div id="b-date">
            <label>Date</label>
            <span id="d-input">
            <input type="date">
          </span>
          </div>
      
      </div>  
        
   
         <button type="button" class="bot" href="#">Continue</button>
          <div class="link">
             <link class="form__text" id="createA">
               <a class="form__link" href="/login" id="linklogAccount">Already have an account? Login here</a>
             </link>
          </div>
          <button type="button" id="close" class="close" href="#">x</button>
          
    </div>
  </div>
  <script type="text/javascript" src="js/sign-up.js"></script>


