<link rel="stylesheet" href="css\sign-up.css" />


 <div class="container">
    <div id="section" class="h-100" >
      <section class="contact-wrap">
        <form action="" class="contact-form" id="form">
          <h3 id="title">Sign up</h3>

          <div class="div-error col-sm-6" >
            <div class="input-block">
              <label for="">First Name</label>
              <input type="text" class="form-control" id="in-name" />
                <small>Error Message</small>
            </div>
          </div>

          <div class="col-sm-6" >
            <div class="input-block">
              <label for="">Last Name</label>
              <input type="text" class="form-control" id="in-lname"/>
             
              
            </div>
          </div>
          <div class="col-sm-6" >
            <div class="input-block">
              <label for="">Username</label>
              <input type="text" class="form-control" id="in-uname"/>
             
            </div>
          </div>
          <div class="col-sm-6" >
            <div class="input-block">
              <label for="">Password</label>
              <input type="password" class="form-control" id="in-password"/>
              
            </div>
          </div>
       
          <div class="col-sm-6" >
            <div class="input-block" id="b-input">
             <select class="form-select" aria-label="Default select example" id="in-gender">
               <option selected>Gender</option>
               <option value="1">Male</option>
               <option value="2">Female</option>
               <option value="3">Other</option>
            </select>
          
           
           </div>
          </div>
          <div class="col-sm-6" id="form-control">
          <div class="input-block" id="b-input">
          <input type="date" id="birthday">
         
        </div>
      </div>
          <div class="col-sm-12" >
            <div class="input-block">
              <label for="">Email</label>
              <input type="email" class="form-control" id="in-email"/>
           
            </div>
            
          </div>
          <div class="col-sm-12">
            <button class="square-button" id="btn-send">Send</button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="js/sign-up.js"></script>
<script type="text/javascript" src="js/submit-sign-up.js"></script>