* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
  transition: all 0.2s linear;
  text-transform: capitalize;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background: url(bg3.jp);
}
#open {
  height: 50px;
  width: 180px;
  background: #fff;
  color: #333;
  font-size: 25px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  border: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
#open:hover {
  letter-spacing: 4px;
  opacity: 0.8;
}
.model-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  transform: scale(0);
}
.model-container .model {
  height: 400px;
  max-width: 350px;
  margin: 0 10px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.model-container .model h3 {
  margin: 10px 0;
  padding-bottom: 20px;
  color: #333;
  font-size: 25px;
}
.model-container .model #email {
  color: #333;
}
.model-container .model #password {
  color: #333;
}
.model-container .model .data {
  height: 35% !important;
  width: 100%;
  margin: 10px 0;
}
.model-container .model .data #input1 {
  height: 40%;
  padding-bottom: 15px;
}
.model-container .model .data #input2 {
  height: 40%;
  padding-bottom: 15px;
}
.model-container .model .data label {
  font-size: 18px;
}
.model-container .model .data input {
  height: 100% !important;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid lightgray;
}
.model-container .model .data #pass {
  padding-left: 10px;
}
.model-container .model .data .input-container[data-error] .input {
  border-color: #c92432;
  color: #c92432;
  background: #fffafa;
}
.input-container[data-error] ::after {
  content: attr(data-error);
  font-size: 0.85em;
  color: #c92432;
  display: block;
  margin: 10px 0;
}

.model-container .model .bot {
  margin-top: 0px;
  background-color: rgba(66, 143, 226, 0.76);
  height: 45px;
  width: 100%;
  border-color: rgba(66, 143, 226, 0.76);
  cursor: pointer;
}

.model-container .model .link {
  margin: 10px;
}
.model-container .model .close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  background-color: rgba(66, 143, 226, 0.76);
  border-radius: 3px;
  border-color: rgba(66, 143, 226, 0.76);
}
