body {
  background-color: lightslategrey;
  font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  font-size: 30px;
}
#m-profile {
  padding: 20px;
  font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  width: 90%;
}

.card {
  display: flex;
  flex-direction: column;
}
.content {
  background-color: whitesmoke;
}
