.hover-border {
    border-radius: 15px;
    border-color: darkgray;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hover-border:hover .display-hover{
    display: block;
}


.hover-border:hover {
    border-color: dimgray;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hover-green:hover {
    background-color: #14C38E !important;
    color: #00FFAB !important;
}

.hover-orange:hover {
    background-color: #F1A661 !important;
    color: #ecc29a !important;
}

.small-img-icon {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
}

.display-hover {
    display: none;
}